<div id="concept_slider" class="content">
    <!--スライダー部分-->
    <div id="concept_slider_box">
        <div class="slider_slide" style="background-image:url({{ '_img_concept_slider_001.jpg' | asset_url }})"></div>
        <div class="slider_slide" style="background-image:url({{ '_img_concept_slider_002.jpg' | asset_url }})"></div>
        <div class="slider_slide" style="background-image:url({{ '_img_concept_slider_003.jpg' | asset_url }})"></div>
        <div class="slider_slide" style="background-image:url({{ '_img_concept_slider_004.jpg' | asset_url }})"></div>
        <div class="slider_slide" style="background-image:url({{ '_img_concept_slider_005.jpg' | asset_url }})"></div>
    </div>
    <!--//スライダーここまで-->
</div>

{% schema %}
  {
    "name": "衝撃一品とは・スライダー",
    "settings": [] ,
    "presets": [
      {
        "name": "衝撃一品とは・スライダー"
      }
    ]
  }
{% endschema %}