{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div class="content">
  <div class="innerpage_wrapper btm">
    <div class="contact editor_content">
      {%- comment -%} タイトル {%- endcomment -%}
      <!-- h2 class="title title-wrapper--no-top-margin">{{ section.settings.heading | escape }}</h2 -->
      担当者より2〜3営業日以内にメールでご連絡させていただきます。<br>
      携帯電話のメールアドレスを設定のお客様は、｢メールの受信拒否、ドメイン指定受信、迷惑メール防止機能」などを設定している場合、受信ができない場合があります。

      {%- form 'contact', id: 'ContactForm', class: 'isolate custom-form' -%}
        <div id="ContactForm_wrapper">
          {%- if form.posted_successfully? -%}
            {%- comment -%} 成功した時のコメント {%- endcomment -%}
            <div class="form-status form-status-list form__message" tabindex="-1" autofocus>
              {% render 'icon-success' %}
              {{ 'templates.contact.form.post_success' | t }}
            </div>
          {%- elsif form.errors -%}
            {%- comment -%} エラー表示 {%- endcomment -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                {% render 'icon-error' %}
                {{ 'templates.contact.form.error_heading' | t }}
              </h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}
                </a>
              </li>
            </ul>
          {%- endif -%}

          {% for block in section.blocks %}
            {% case block.type %}
                {%- comment -%} Eメール {%- endcomment -%}
              {% when 'email' %}
                <div
                  class="field{% if block.settings.width_setting == "col1" %} w_1col{% endif %}{% if block.settings.width_setting == "col2" %} w_2col{% endif %}{% if block.settings.width_setting == "col3" %} w_3col{% endif %}{% if block.settings.margin-bottom %} no-margin{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  <label class="field__label" for="Form-{{ section.id }}-{{ forloop.index0 }}">
                    {% if block.settings.label %}
                      <span>{{ block.settings.title }}</span>
                      {% if block.settings.check -%}
                        <span aria-hidden="true">*</span>
                      {%- endif %}
                    {% endif %}
                  </label>

                  <input
                    autocomplete="email"
                    type="email"
                    id="ContactFormEmail"
                    class="field__input foJ_Thin"
                    name="contact[email]"
                    spellcheck="false"
                    autocorrect="off"
                    autocapitalize="off"
                    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                    required="true"
                    {% if form.errors contains 'email' %}
                      aria-invalid="true"
                      aria-describedby="ContactForm-email-error"
                    {% endif %}
                    {% if block.settings.regex != blank %}
                      pattern="{{ block.settings.regex }}"
                    {% endif %}
                    placeholder="{{ block.settings.placeholder }}"
                  >
                  {%- if form.errors contains 'email' -%}
                    テストテスト
                    <small class="contact__field-error" id="ContactForm-email-error">
                      <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                      <span class="form__message">
                        {%- render 'icon-error' -%}
                        {{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                      </span>
                    </small>
                  {%- endif -%}
                </div>

                {%- comment -%} Eメール（確認用） {%- endcomment -%}
              {% when 'email_verify' %}
                <div
                  class="field{% if block.settings.width_setting == "col1" %} w_1col{% endif %}{% if block.settings.width_setting == "col2" %} w_2col{% endif %}{% if block.settings.width_setting == "col3" %} w_3col{% endif %}{% if block.settings.margin-bottom %} no-margin{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  <label class="field__label" for="Form-{{ section.id }}-{{ forloop.index0 }}">
                    {% if block.settings.label %}
                      <span>{{ block.settings.title }}</span>
                      {% if block.settings.check -%}
                        <span aria-hidden="true">*</span>
                      {%- endif %}
                    {% endif %}
                  </label>
                  <input
                    autocomplete="email"
                    type="email"
                    id="ContactFormEmailVerify"
                    class="field__input foJ_Thin"
                    name="contact[email_velify]"
                    spellcheck="false"
                    autocorrect="off"
                    autocapitalize="off"
                    value="{% if form.email_verify %}{{ form.email_verify }}{% elsif customer %}{{ customer.email }}{% endif %}"
                    required="true"
                    {% if form.errors contains 'email_verify' %}
                      aria-invalid="true"
                      aria-describedby="ContactForm-email_verify-error"
                    {% endif %}
                    {% if block.settings.regex != blank %}
                      pattern="{{ block.settings.regex }}"
                    {% endif %}
                    placeholder="{{ block.settings.placeholder }}"
                  >

          
                </div>

                {%- comment -%} 電話番号 {%- endcomment -%}
              {% when 'telephone' %}
                <div class="field w_1col" {{ block.shopify_attributes }}>
                  <label class="field__label" for="ContactForm-phone">
                    {{ block.settings.title }}
                    {% if block.settings.check -%}
                      <span aria-hidden="true">*</span>
                    {%- endif %}
                  </label>

                  <input
                    type="tel"
                    id="ContactForm-phone"
                    class="field__input foJ_Thin"
                    autocomplete="tel"
                    name="contact[{{ block.settings.title }}]"
                    pattern="[0-9\-]*"
                    value=""
                    placeholder="{{ block.settings.title }}"
                    {% if block.settings.check %}
                      required="true"
                    {% endif %}
                  >
                </div>

                {%- comment -%} 本文 {%- endcomment -%}
              {% when 'body' %}
                <div class="field" {{ block.shopify_attributes }}>
                  <label class="form__label field__label" for="ContactForm-body">
                    {{ 'templates.contact.form.comment' | t }}
                    <span aria-hidden="true">*</span>
                  </label>

                  <textarea
                    rows="10"
                    id="ContactForm-body"
                    class="text-area field__input foJ_Thin"
                    required="true"
                    name="contact[{{ 'templates.contact.form.comment' | t }}]"
                    placeholder="{{ 'templates.contact.form.comment' | t }}"
                  >
              {{- form.body -}}
            </textarea>
                </div>

                {%- comment -%} 見出し {%- endcomment -%}
              {% when 'formHeading_p' %}
                <div class="custom-form__block custom-form__block--heading form-item" {{ block.shopify_attributes }}>
                  <p>{{ block.settings.title }}</p>
                </div>

                {%- comment -%} 小見出し(複数の項目をまとめる。住所など) {%- endcomment -%}
              {% when 'formHeading_span' %}
                <div class="w_col1" {{ block.shopify_attributes }}>
                  <span>
                    {{- block.settings.title }}
                    {% if block.settings.check %}
                      <span aria-hidden="true">*</span>
                    {% endif %}
                  </span>
                </div>

                {%- comment -%} 1行 テキスト{%- endcomment -%}
              {% when 'text' %}
                <div
                  class="field{% if block.settings.width_setting == "col1" %} w_1col{% endif %}{% if block.settings.width_setting == "col2" %} w_2col{% endif %}{% if block.settings.width_setting == "col3" %} w_3col{% endif %}{% if block.settings.margin-bottom %} no-margin{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  <label class="field__label" for="Form-{{ section.id }}-{{ forloop.index0 }}">
                    {% if block.settings.label %}
                      <span>{{ block.settings.title }}</span>
                      {% if block.settings.check -%}
                        <span aria-hidden="true">*</span>
                      {%- endif %}
                    {% endif %}
                  </label>
                  <input
                    class="field__input foJ_Thin"
                    type="text"
                    id="Form-{{ section.id }}-{{ forloop.index0 }}"
                    name="contact[{{ block.settings.title }}]"
                    {% if block.settings.regex != blank %}
                      pattern="{{ block.settings.regex }}"
                    {% endif %}
                    value=""
                    placeholder="{{ block.settings.placeholder }}"
                    {% if block.settings.check %}
                      required="true"
                    {% endif %}
                  >
                </div>
                {% unless block.settings.width_setting == 'col1' %}
                  {% if block.settings.newline_pc and block.settings.newline_mobile %}
                    <br>
                  {% elsif block.settings.newline_pc and block.settings.newline_mobile == false %}
                    <br class="pc_br">
                  {% elsif block.settings.newline_pc == false and block.settings.newline_mobile %}
                    <br class="mobile_br">
                  {% endif %}
                {% endunless %}

                {%- comment -%} テキストエリア {%- endcomment -%}
              {% when 'textarea' %}
                <div
                  class="field{% if block.settings.width_setting == "col1" %} w_1col{% endif %}{% if block.settings.width_setting == "col2" %} w_2col{% endif %}{% if block.settings.width_setting == "col3" %} w_3col{% endif %}{% if block.settings.margin-bottom %} no-margin{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  <label class="form__label field__label" for="Form-{{ section.id }}-{{ forloop.index0 }}">
                    {{ block.settings.title }}
                    {% if block.settings.check -%}
                      <span aria-hidden="true">*</span>
                    {%- endif %}
                  </label>
                  <textarea
                    rows="10"
                    id="Form-{{ section.id }}-{{ forloop.index0 }}"
                    class="text-area field__input foJ_Thin"
                    name="contact[{{ block.settings.title | handleize | default: 'textarea' }}]"
                    placeholder="{{ block.settings.placeholder }}"
                    {% if block.settings.check %}
                      required="true"
                    {% endif %}
                  >
                {{- form.body -}}
              </textarea>
                </div>

                {%- comment -%} 装飾 {%- endcomment -%}
              {% when 'spacer' %}
                {%- assign hr_class = 'hr--clear' -%}
                {%- if block.settings.line -%}
                  {%- assign hr_class = '' -%}
                {%- endif -%}
                <div class="form-item" {{ block.shopify_attributes }}>
                  <hr class="{{ hr_class }}">
                </div>

                {%- comment -%} チェックボックス {%- endcomment -%}
              {% when 'checkbox' %}
                <div class="field no-border" {{ block.shopify_attributes }}>
                  <label for="Form-{{ section.id }}-{{ forloop.index0 }}">
                    <input
                      type="checkbox"
                      id="Form-{{ section.id }}-{{ forloop.index0 }}"
                      class="contactFormCheckbox"
                      name="contact[{{ block.settings.title | handleize | default: 'checkbox' }}]"
                      value="{{ block.settings.title }}"
                      {% if block.settings.check %}
                        required="true"
                      {% endif %}
                    >
                    {{ block.settings.title }}
                    {% if block.settings.check -%}
                      <span aria-hidden="true">*</span>
                    {%- endif %}
                  </label>
                </div>

                {%- comment -%} ラジオボタン {%- endcomment -%}
              {% when 'radio' %}
                <div class="field no-border colum" {{ block.shopify_attributes }}>
                  {% if block.settings.title != blank %}
                    <legend class="custom-form__label">
                      {{ block.settings.title }}
                      {% if block.settings.check -%}
                        <span aria-hidden="true">*</span>
                      {%- endif %}
                    </legend>
                  {% endif %}
                  {% if block.settings['label-one'] != blank %}
                    <div>
                      <input
                        type="radio"
                        id="Form-{{ section.id }}-{{ forloop.index0 }}-1"
                        class="contactFormRadio"
                        name="contact[{{ block.settings.title | handleize | default: 'radio' }}]"
                        value="{{ block.settings.label-one }}"
                        {% if block.settings.check %}
                          required="true"
                        {% endif %}
                      >
                      <label for="Form-{{ section.id }}-{{ forloop.index0 }}-1">
                        {{- block.settings['label-one'] -}}
                      </label>
                    </div>
                  {% endif %}
                  {% if block.settings['label-two'] != blank %}
                    <div>
                      <input
                        type="radio"
                        id="Form-{{ section.id }}-{{ forloop.index0 }}-2"
                        class="contactFormRadio"
                        name="contact[{{ block.settings.title | handleize | default: 'radio' }}]"
                        value="{{ block.settings.label-two }}"
                      >
                      <label for="Form-{{ section.id }}-{{ forloop.index0 }}-2">
                        {{- block.settings['label-two'] -}}
                      </label>
                    </div>
                  {% endif %}
                  {% if block.settings['label-three'] != blank %}
                    <div>
                      <input
                        type="radio"
                        id="Form-{{ section.id }}-{{ forloop.index0 }}-3"
                        class="contactFormRadio"
                        name="contact[{{ block.settings.title | handleize | default: 'radio' }}]"
                        value="{{ block.settings.label-three }}"
                      >
                      <label for="Form-{{ section.id }}-{{ forloop.index0 }}-3">
                        {{- block.settings['label-three'] -}}
                      </label>
                    </div>
                  {% endif %}
                  {% if block.settings['label-four'] != blank %}
                    <div>
                      <input
                        type="radio"
                        id="Form-{{ section.id }}-{{ forloop.index0 }}-4"
                        class="contactFormRadio"
                        name="contact[{{ block.settings.title | handleize | default: 'radio' }}]"
                        value="{{ block.settings.label-four }}"
                      >
                      <label for="Form-{{ section.id }}-{{ forloop.index0 }}-4">
                        {{- block.settings['label-four'] -}}
                      </label>
                    </div>
                  {% endif %}
                  {% if block.settings['label-five'] != blank %}
                    <div>
                      <input
                        type="radio"
                        id="Form-{{ section.id }}-{{ forloop.index0 }}-5"
                        class="contactFormRadio"
                        name="contact[{{ block.settings.title | handleize | default: 'radio' }}]"
                        value="{{ block.settings.label-five }}"
                      >
                      <label for="Form-{{ section.id }}-{{ forloop.index0 }}-5">
                        {{- block.settings['label-five'] -}}
                      </label>
                    </div>
                  {% endif %}
                  {% if block.settings['label-six'] != blank %}
                    <div>
                      <input
                        type="radio"
                        id="Form-{{ section.id }}-{{ forloop.index0 }}-6"
                        class="contactFormRadio"
                        name="contact[{{ block.settings.title | handleize | default: 'radio' }}]"
                        value="{{ block.settings.label-six }}"
                      >
                      <label for="Form-{{ section.id }}-{{ forloop.index0 }}-6">
                        {{- block.settings['label-six'] -}}
                      </label>
                    </div>
                  {% endif %}
                </div>

                {%- comment -%} セレクトボックス50 {%- endcomment -%}
              {% when 'select_fifty' %}
                <div
                  class="field{% if block.settings.width_setting == "col1" %} w_1col{% endif %}{% if block.settings.width_setting == "col2" %} w_2col{% endif %}{% if block.settings.width_setting == "col3" %} w_3col{% endif %}{% if block.settings.margin-bottom %} no-margin{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  {% if block.settings.label %}
                    <span>{{ block.settings.title }}</span>
                  {% endif %}
                  <label
                    for="Form-{{ section.id }}-{{ forloop.index0 }}"
                    class="selectbox"
                  >
                    <select
                      id="Form-{{ section.id }}-{{ forloop.index0 }}"
                      class="contactFormSelect foJ_Thin"
                      name="contact[{{ block.settings.title | handleize | default: 'select' }}]"
                      {% if block.settings.check %}
                        required="true"
                      {% endif %}
                    >
                      <option value="{{ block.settings.label-zero }}">{{ block.settings['label-zero'] }}</option>
                      {% if block.settings['label-one'] != blank %}
                        <option value="{{ block.settings.label-one }}">{{ block.settings['label-one'] }}</option>
                      {% endif %}
                      {% if block.settings['label-two'] != blank %}
                        <option value="{{ block.settings.label-two }}">{{ block.settings['label-two'] }}</option>
                      {% endif %}
                      {% if block.settings['label-three'] != blank %}
                        <option value="{{ block.settings.label-three }}">{{ block.settings['label-three'] }}</option>
                      {% endif %}
                      {% if block.settings['label-four'] != blank %}
                        <option value="{{ block.settings.label-four }}">{{ block.settings['label-four'] }}</option>
                      {% endif %}
                      {% if block.settings['label-five'] != blank %}
                        <option value="{{ block.settings.label-five }}">{{ block.settings['label-five'] }}</option>
                      {% endif %}
                      {% if block.settings['label-six'] != blank %}
                        <option value="{{ block.settings.label-six }}">{{ block.settings['label-six'] }}</option>
                      {% endif %}
                      {% if block.settings['label-seven'] != blank %}
                        <option value="{{ block.settings.label-seven }}">{{ block.settings['label-seven'] }}</option>
                      {% endif %}
                      {% if block.settings['label-eight'] != blank %}
                        <option value="{{ block.settings.label-eight }}">{{ block.settings['label-eight'] }}</option>
                      {% endif %}
                      {% if block.settings['label-nine'] != blank %}
                        <option value="{{ block.settings.label-nine }}">{{ block.settings['label-nine'] }}</option>
                      {% endif %}
                      {% if block.settings['label-ten'] != blank %}
                        <option value="{{ block.settings.label-ten }}">{{ block.settings['label-ten'] }}</option>
                      {% endif %}
                      {% if block.settings['label-eleven'] != blank %}
                        <option value="{{ block.settings.label-eleven }}">{{ block.settings['label-eleven'] }}</option>
                      {% endif %}
                      {% if block.settings['label-twelve'] != blank %}
                        <option value="{{ block.settings.label-twelve }}">{{ block.settings['label-twelve'] }}</option>
                      {% endif %}
                      {% if block.settings['label-thirteen'] != blank %}
                        <option value="{{ block.settings.label-thirteen }}">
                          {{ block.settings['label-thirteen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-fourteen'] != blank %}
                        <option value="{{ block.settings.label-fourteen }}">
                          {{ block.settings['label-fourteen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-fifteen'] != blank %}
                        <option value="{{ block.settings.label-fifteen }}">
                          {{ block.settings['label-fifteen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-sixteen'] != blank %}
                        <option value="{{ block.settings.label-sixteen }}">
                          {{ block.settings['label-sixteen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-seventeen'] != blank %}
                        <option value="{{ block.settings.label-seventeen }}">
                          {{ block.settings['label-seventeen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-eighteen'] != blank %}
                        <option value="{{ block.settings.label-eighteen }}">
                          {{ block.settings['label-eighteen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-nineteen'] != blank %}
                        <option value="{{ block.settings.label-nineteen }}">
                          {{ block.settings['label-nineteen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-twenty'] != blank %}
                        <option value="{{ block.settings.label-twenty }}">{{ block.settings['label-twenty'] }}</option>
                      {% endif %}
                      {% if block.settings['label-twenty-one'] != blank %}
                        <option value="{{ block.settings.label-twenty-one }}">
                          {{ block.settings['label-twenty-one'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-twenty-two'] != blank %}
                        <option value="{{ block.settings.label-twenty-two }}">
                          {{ block.settings['label-twenty-two'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-twenty-three'] != blank %}
                        <option value="{{ block.settings.label-twenty-three }}">
                          {{ block.settings['label-twenty-three'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-twenty-four'] != blank %}
                        <option value="{{ block.settings.label-twenty-four }}">
                          {{ block.settings['label-twenty-four'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-twenty-five'] != blank %}
                        <option value="{{ block.settings.label-twenty-five }}">
                          {{ block.settings['label-twenty-five'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-twenty-six'] != blank %}
                        <option value="{{ block.settings.label-twenty-six }}">
                          {{ block.settings['label-twenty-six'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-twenty-seven'] != blank %}
                        <option value="{{ block.settings.label-twenty-seven }}">
                          {{ block.settings['label-twenty-seven'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-twenty-eight'] != blank %}
                        <option value="{{ block.settings.label-twenty-eight }}">
                          {{ block.settings['label-twenty-eight'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-twenty-nine'] != blank %}
                        <option value="{{ block.settings.label-twenty-nine }}">
                          {{ block.settings['label-twenty-nine'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-thirty'] != blank %}
                        <option value="{{ block.settings.label-thirty }}">{{ block.settings['label-thirty'] }}</option>
                      {% endif %}
                      {% if block.settings['label-thirty-one'] != blank %}
                        <option value="{{ block.settings.label-thirty-one }}">
                          {{ block.settings['label-thirty-one'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-thirty-two'] != blank %}
                        <option value="{{ block.settings.label-thirty-two }}">
                          {{ block.settings['label-thirty-two'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-thirty-three'] != blank %}
                        <option value="{{ block.settings.label-thirty-three }}">
                          {{ block.settings['label-thirty-three'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-thirty-four'] != blank %}
                        <option value="{{ block.settings.label-thirty-four }}">
                          {{ block.settings['label-thirty-four'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-thirty-five'] != blank %}
                        <option value="{{ block.settings.label-thirty-five }}">
                          {{ block.settings['label-thirty-five'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-thirty-six'] != blank %}
                        <option value="{{ block.settings.label-thirty-six }}">
                          {{ block.settings['label-thirty-six'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-thirty-seven'] != blank %}
                        <option value="{{ block.settings.label-thirty-seven }}">
                          {{ block.settings['label-thirty-seven'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-thirty-eight'] != blank %}
                        <option value="{{ block.settings.label-thirty-eight }}">
                          {{ block.settings['label-thirty-eight'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-thirty-nine'] != blank %}
                        <option value="{{ block.settings.label-thirty-nine }}">
                          {{ block.settings['label-thirty-nine'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-forty'] != blank %}
                        <option value="{{ block.settings.label-forty }}">{{ block.settings['label-forty'] }}</option>
                      {% endif %}
                      {% if block.settings['label-forty-one'] != blank %}
                        <option value="{{ block.settings.label-forty-one }}">
                          {{ block.settings['label-forty-one'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-forty-two'] != blank %}
                        <option value="{{ block.settings.label-forty-two }}">
                          {{ block.settings['label-forty-two'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-forty-three'] != blank %}
                        <option value="{{ block.settings.label-forty-three }}">
                          {{ block.settings['label-forty-three'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-forty-four'] != blank %}
                        <option value="{{ block.settings.label-forty-four }}">
                          {{ block.settings['label-forty-four'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-forty-five'] != blank %}
                        <option value="{{ block.settings.label-forty-five }}">
                          {{ block.settings['label-forty-five'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-forty-six'] != blank %}
                        <option value="{{ block.settings.label-forty-six }}">
                          {{ block.settings['label-forty-six'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-forty-seven'] != blank %}
                        <option value="{{ block.settings.label-forty-seven }}">
                          {{ block.settings['label-forty-seven'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-forty-eight'] != blank %}
                        <option value="{{ block.settings.label-forty-eight }}">
                          {{ block.settings['label-forty-eight'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-forty-nine'] != blank %}
                        <option value="{{ block.settings.label-forty-nine }}">
                          {{ block.settings['label-forty-nine'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-fifty'] != blank %}
                        <option value="{{ block.settings.label-fifty }}">{{ block.settings['label-fifty'] }}</option>
                      {% endif %}
                    </select>
                  </label>
                </div>
                {% unless block.settings.width_setting == 'col1' %}
                  {% if block.settings.newline_pc and block.settings.newline_mobile %}
                    <br>
                  {% elsif block.settings.newline_pc and block.settings.newline_mobile == false %}
                    <br class="pc_br">
                  {% elsif block.settings.newline_pc == false and block.settings.newline_mobile %}
                    <br class="mobile_br">
                  {% endif %}
                {% endunless %}

                {%- comment -%} セレクトボックス20 {%- endcomment -%}
              {% when 'select_twenty' %}
                <div
                  class="field{% if block.settings.width_setting == "col1" %} w_1col{% endif %}{% if block.settings.width_setting == "col2" %} w_2col{% endif %}{% if block.settings.width_setting == "col3" %} w_3col{% endif %}{% if block.settings.margin-bottom %} no-margin{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  {% if block.settings.label %}
                    <span>{{ block.settings.title }}</span>
                  {% endif %}
                  <label
                    for="Form-{{ section.id }}-{{ forloop.index0 }}"
                    class=" selectbox"
                  >
                    <select
                      id="Form-{{ section.id }}-{{ forloop.index0 }}"
                      class="contactFormSelect foJ_Thin"
                      name="contact[{{ block.settings.title | handleize | default: 'select' }}]"
                      {% if block.settings.check %}
                        required="true"
                      {% endif %}
                    >
                      <option value="{{ block.settings.label-zero }}">{{ block.settings['label-zero'] }}</option>
                      {% if block.settings['label-one'] != blank %}
                        <option value="{{ block.settings.label-one }}">{{ block.settings['label-one'] }}</option>
                      {% endif %}
                      {% if block.settings['label-two'] != blank %}
                        <option value="{{ block.settings.label-two }}">{{ block.settings['label-two'] }}</option>
                      {% endif %}
                      {% if block.settings['label-three'] != blank %}
                        <option value="{{ block.settings.label-three }}">{{ block.settings['label-three'] }}</option>
                      {% endif %}
                      {% if block.settings['label-four'] != blank %}
                        <option value="{{ block.settings.label-four }}">{{ block.settings['label-four'] }}</option>
                      {% endif %}
                      {% if block.settings['label-five'] != blank %}
                        <option value="{{ block.settings.label-five }}">{{ block.settings['label-five'] }}</option>
                      {% endif %}
                      {% if block.settings['label-six'] != blank %}
                        <option value="{{ block.settings.label-six }}">{{ block.settings['label-six'] }}</option>
                      {% endif %}
                      {% if block.settings['label-seven'] != blank %}
                        <option value="{{ block.settings.label-seven }}">{{ block.settings['label-seven'] }}</option>
                      {% endif %}
                      {% if block.settings['label-eight'] != blank %}
                        <option value="{{ block.settings.label-eight }}">{{ block.settings['label-eight'] }}</option>
                      {% endif %}
                      {% if block.settings['label-nine'] != blank %}
                        <option value="{{ block.settings.label-nine }}">{{ block.settings['label-nine'] }}</option>
                      {% endif %}
                      {% if block.settings['label-ten'] != blank %}
                        <option value="{{ block.settings.label-ten }}">{{ block.settings['label-ten'] }}</option>
                      {% endif %}
                      {% if block.settings['label-eleven'] != blank %}
                        <option value="{{ block.settings.label-eleven }}">{{ block.settings['label-eleven'] }}</option>
                      {% endif %}
                      {% if block.settings['label-twelve'] != blank %}
                        <option value="{{ block.settings.label-twelve }}">{{ block.settings['label-twelve'] }}</option>
                      {% endif %}
                      {% if block.settings['label-thirteen'] != blank %}
                        <option value="{{ block.settings.label-thirteen }}">
                          {{ block.settings['label-thirteen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-fourteen'] != blank %}
                        <option value="{{ block.settings.label-fourteen }}">
                          {{ block.settings['label-fourteen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-fifteen'] != blank %}
                        <option value="{{ block.settings.label-fifteen }}">
                          {{ block.settings['label-fifteen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-sixteen'] != blank %}
                        <option value="{{ block.settings.label-sixteen }}">
                          {{ block.settings['label-sixteen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-seventeen'] != blank %}
                        <option value="{{ block.settings.label-seventeen }}">
                          {{ block.settings['label-seventeen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-eighteen'] != blank %}
                        <option value="{{ block.settings.label-eighteen }}">
                          {{ block.settings['label-eighteen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-nineteen'] != blank %}
                        <option value="{{ block.settings.label-nineteen }}">
                          {{ block.settings['label-nineteen'] }}
                        </option>
                      {% endif %}
                      {% if block.settings['label-twenty'] != blank %}
                        <option value="{{ block.settings.label-twenty }}">{{ block.settings['label-twenty'] }}</option>
                      {% endif %}
                    </select>
                  </label>
                </div>
                {% unless block.settings.width_setting == 'col1' %}
                  {% if block.settings.newline_pc and block.settings.newline_mobile %}
                    <br>
                  {% elsif block.settings.newline_pc and block.settings.newline_mobile == false %}
                    <br class="pc_br">
                  {% elsif block.settings.newline_pc == false and block.settings.newline_mobile %}
                    <br class="mobile_br">
                  {% endif %}
                {% endunless %}

                {%- comment -%} セレクトボックス10 {%- endcomment -%}
              {% when 'select_ten' %}
                <div
                  class="field{% if block.settings.width_setting == "col1" %} w_1col{% endif %}{% if block.settings.width_setting == "col2" %} w_2col{% endif %}{% if block.settings.width_setting == "col3" %} w_3col{% endif %}{% if block.settings.margin-bottom %} no-margin{% endif %}"
                  {{ block.shopify_attributes }}
                >
                  {% if block.settings.label %}
                    <span>{{ block.settings.title }}</span>
                  {% endif %}
                  <label
                    for="Form-{{ section.id }}-{{ forloop.index0 }}"
                    class=" selectbox"
                  >
                    <select
                      id="Form-{{ section.id }}-{{ forloop.index0 }}"
                      class="contactFormSelect foJ_Thin"
                      name="contact[{{ block.settings.title | handleize | default: 'select' }}]"
                      {% if block.settings.check %}
                        required="true"
                      {% endif %}
                    >
                      <option value="{{ block.settings.label-zero }}">{{ block.settings['label-zero'] }}</option>
                      {% if block.settings['label-one'] != blank %}
                        <option value="{{ block.settings.label-one }}">{{ block.settings['label-one'] }}</option>
                      {% endif %}
                      {% if block.settings['label-two'] != blank %}
                        <option value="{{ block.settings.label-two }}">{{ block.settings['label-two'] }}</option>
                      {% endif %}
                      {% if block.settings['label-three'] != blank %}
                        <option value="{{ block.settings.label-three }}">{{ block.settings['label-three'] }}</option>
                      {% endif %}
                      {% if block.settings['label-four'] != blank %}
                        <option value="{{ block.settings.label-four }}">{{ block.settings['label-four'] }}</option>
                      {% endif %}
                      {% if block.settings['label-five'] != blank %}
                        <option value="{{ block.settings.label-five }}">{{ block.settings['label-five'] }}</option>
                      {% endif %}
                      {% if block.settings['label-six'] != blank %}
                        <option value="{{ block.settings.label-six }}">{{ block.settings['label-six'] }}</option>
                      {% endif %}
                      {% if block.settings['label-seven'] != blank %}
                        <option value="{{ block.settings.label-seven }}">{{ block.settings['label-seven'] }}</option>
                      {% endif %}
                      {% if block.settings['label-eight'] != blank %}
                        <option value="{{ block.settings.label-eight }}">{{ block.settings['label-eight'] }}</option>
                      {% endif %}
                      {% if block.settings['label-nine'] != blank %}
                        <option value="{{ block.settings.label-nine }}">{{ block.settings['label-nine'] }}</option>
                      {% endif %}
                      {% if block.settings['label-ten'] != blank %}
                        <option value="{{ block.settings.label-ten }}">{{ block.settings['label-ten'] }}</option>
                      {% endif %}
                    </select>
                  </label>
                </div>
                {% unless block.settings.width_setting == 'col1' %}
                  {% if block.settings.newline_pc and block.settings.newline_mobile %}
                    <br>
                  {% elsif block.settings.newline_pc and block.settings.newline_mobile == false %}
                    <br class="pc_br">
                  {% elsif block.settings.newline_pc == false and block.settings.newline_mobile %}
                    <br class="mobile_br">
                  {% endif %}
                {% endunless %}
            {% endcase %}
          {% endfor %}
          <a href="/pages/privacy" target="_blank" rel="noreferrer">プライバシーポリシー</a>に同意の上、送信ください。
          <input type="checkbox" class="checkbox_box" required="" checked>
          プライバシーポリシーに同意する
          {%- comment -%} フォームボタン {%- endcomment -%}
          <div class="btn" onclick="submitContactForm(event)">
            <span class="info foJ_Mid">
              {{ 'templates.contact.form.send' | t }}
            </span>
            <div class="icon submit"></div>
          </div>
        </div>
        <!-- /#ContactForm_wrapper -->
      {%- endform -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.contact-form.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
      {
        "type": "email",
        "name": "Eメール",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "ラベル",
            "default": "Eメール"
          },
            {
            "type": "text",
            "id": "placeholder",
            "label": "プレースホルダー"
          },
          {
            "type": "checkbox",
            "id": "check",
            "label": "必須にする",
            "default": false,
            "info": "チェックを入れると必須項目にできます。"
          },
          {
            "type": "checkbox",
            "id": "label",
            "label": "項目名の表示",
            "default": true,
            "info": "チェックを入れると項目名を表示します。"
          },
          {
            "type": "checkbox",
            "id": "newline_pc",
            "label": "要素後に改行(モバイルサイト)",
            "default": false,
            "info": "チェックを入れると要素後に改行します。(モバイルサイト)"
          },
          {
            "type": "checkbox",
            "id": "newline_mobile",
            "label": "要素後に改行(PCサイト)",
            "default": false,
            "info": "チェックを入れると要素後に改行します。(PCサイト)"
          },
          {
            "type": "radio",
            "id": "width_setting",
            "label": "大きさ",
            "options": [
              {
                "value": "col1",
                "label": "約100%(1カラム)"
              },
              {
                "value": "col2",
                "label": "約50%(2カラム)"
              },
              {
                "value": "col3",
                "label": "約33%(3カラム)"
              }
            ],
            "default": "col1"
          },
          {
            "type": "checkbox",
            "id": "margin-bottom",
            "label": "下マージンを狭く",
            "default": false,
            "info": "チェックを入れると下マージンが狭くなります。まとまりを作るときに見やすくするために使います。"
          },
          {
            "type": "text",
            "id": "regex",
            "label": "正規表現(指定がなければ空白)"
          }
        ]
      },
      {
        "type": "email_verify",
        "name": "Eメール（確認用）",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "ラベル",
            "default": "Eメール（確認用）"
          },
            {
            "type": "text",
            "id": "placeholder",
            "label": "プレースホルダー"
          },
          {
            "type": "checkbox",
            "id": "check",
            "label": "必須にする",
            "default": false,
            "info": "チェックを入れると必須項目にできます。"
          },
          {
            "type": "checkbox",
            "id": "label",
            "label": "項目名の表示",
            "default": true,
            "info": "チェックを入れると項目名を表示します。"
          },
          {
            "type": "checkbox",
            "id": "newline_pc",
            "label": "要素後に改行(モバイルサイト)",
            "default": false,
            "info": "チェックを入れると要素後に改行します。(モバイルサイト)"
          },
          {
            "type": "checkbox",
            "id": "newline_mobile",
            "label": "要素後に改行(PCサイト)",
            "default": false,
            "info": "チェックを入れると要素後に改行します。(PCサイト)"
          },
          {
            "type": "radio",
            "id": "width_setting",
            "label": "大きさ",
            "options": [
              {
                "value": "col1",
                "label": "約100%(1カラム)"
              },
              {
                "value": "col2",
                "label": "約50%(2カラム)"
              },
              {
                "value": "col3",
                "label": "約33%(3カラム)"
              }
            ],
            "default": "col1"
          },
          {
            "type": "checkbox",
            "id": "margin-bottom",
            "label": "下マージンを狭く",
            "default": false,
            "info": "チェックを入れると下マージンが狭くなります。まとまりを作るときに見やすくするために使います。"
          },
          {
            "type": "text",
            "id": "regex",
            "label": "正規表現(指定がなければ空白)"
          }
        ]
      },
      {
        "type": "body",
        "name": "本文",
        "limit": 1,
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "ラベル",
            "default": "本文"
          }
        ]
      },
      {
        "type": "text",
        "name": "1行テキスト",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "ラベル"
          },
            {
            "type": "text",
            "id": "placeholder",
            "label": "プレースホルダー"
          },
          {
            "type": "checkbox",
            "id": "check",
            "label": "必須にする",
            "default": false,
            "info": "チェックを入れると必須項目にできます。"
          },
          {
            "type": "checkbox",
            "id": "label",
            "label": "項目名の表示",
            "default": true,
            "info": "チェックを入れると項目名を表示します。"
          },
          {
            "type": "checkbox",
            "id": "newline_pc",
            "label": "要素後に改行(モバイルサイト)",
            "default": false,
            "info": "チェックを入れると要素後に改行します。(モバイルサイト)"
          },
          {
            "type": "checkbox",
            "id": "newline_mobile",
            "label": "要素後に改行(PCサイト)",
            "default": false,
            "info": "チェックを入れると要素後に改行します。(PCサイト)"
          },
          {
            "type": "radio",
            "id": "width_setting",
            "label": "大きさ",
            "options": [
              {
                "value": "col1",
                "label": "約100%(1カラム)"
              },
              {
                "value": "col2",
                "label": "約50%(2カラム)"
              },
              {
                "value": "col3",
                "label": "約33%(3カラム)"
              }
            ],
            "default": "col1"
          },
          {
            "type": "checkbox",
            "id": "margin-bottom",
            "label": "下マージンを狭く",
            "default": false,
            "info": "チェックを入れると下マージンが狭くなります。まとまりを作るときに見やすくするために使います。"
          },
          {
            "type": "text",
            "id": "regex",
            "label": "正規表現(指定がなければ空白)"
          }
        ]
      },
      {
        "type": "textarea",
        "name": "テキストエリア",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "項目名",
            "default": "項目名",
            "info": "例：メッセージ"
          },
          {
            "type": "textarea",
            "id": "placeholder",
            "label": "デフォルトの内容",
            "default": "メッセージを入力してください",
            "info": "例：メッセージを入力してください"
          },
          {
            "type": "checkbox",
            "id": "check",
            "label": "必須にする",
            "default": false,
            "info": "チェックを入れると必須項目にできます。"
          },
          {
            "type": "radio",
            "id": "width_setting",
            "label": "大きさ",
            "options": [
              {
                "value": "col1",
                "label": "約100%(1カラム)"
              },
              {
                "value": "col2",
                "label": "約50%(2カラム)"
              },
              {
                "value": "col3",
                "label": "約33%(3カラム)"
              }
            ],
            "default": "col1"
          },
          {
            "type": "checkbox",
            "id": "margin-bottom",
            "label": "下マージンを狭く",
            "default": false,
            "info": "チェックを入れると下マージンが狭くなります。まとまりを作るときに見やすくするために使います。"
          }
        ]
      },
      {
        "type": "telephone",
        "name": "電話",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "ラベル",
            "default": "電話番号",
            "info": "例：電話番号"
          },
          {
            "type": "checkbox",
            "id": "check",
            "label": "必須にする",
            "default": false,
            "info": "チェックを入れると必須項目にできます。"
          }
        ]
      },
      {
        "type": "formHeading_p",
        "name": "見出し",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "見出し",
            "default": "見出し",
            "info": "より長いフォームを分割するために使用します"
          }
        ]
      },
      {
        "type": "formHeading_span",
        "name": "小見出し",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "小見出し",
            "default": "小見出し",
            "info": "複数の項目をまとめる時に使用(住所など)"
          },
          {
            "type": "checkbox",
            "id": "check",
            "label": "必須マーク表示",
            "default": false,
            "info": "チェックを入れると必須マークを表示できます。"
          }
        ]
      },
      {
        "type": "spacer",
        "name": "装飾",
        "settings": [
          {
            "type": "checkbox",
            "id": "line",
            "label": "水平ライン",
            "default": false
          }
        ]
      },
      {
        "type": "checkbox",
        "name": "チェックボックス",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "ラベル",
            "default": "チェックボックスオプション",
            "info": "例：ニュースレターを購読します"
          },
          {
            "type": "checkbox",
            "id": "check",
            "label": "必須にする",
            "default": false,
            "info": "チェックを入れると必須項目にできます。"
          }
        ]
      },
      {
        "type": "select_ten",
        "name": "セレクト ドロップダウン（10項目）",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "選択肢一つを選択してください",
            "info": "例：配達場所を選択します"
          },
          {
            "type": "checkbox",
            "id": "check",
            "label": "必須にする",
            "default": false,
            "info": "チェックを入れると必須項目にできます。"
          },
          {
            "type": "checkbox",
            "id": "label",
            "label": "項目名の表示",
            "default": true,
            "info": "チェックを入れると項目名を表示します。"
          },
          {
            "type": "checkbox",
            "id": "newline_pc",
            "label": "要素後に改行(モバイルサイト)",
            "default": false,
            "info": "チェックを入れると要素後に改行します。(モバイルサイト)"
          },
          {
            "type": "checkbox",
            "id": "newline_mobile",
            "label": "要素後に改行(PCサイト)",
            "default": false,
            "info": "チェックを入れると要素後に改行します。(PCサイト)"
          },
          {
            "type": "radio",
            "id": "width_setting",
            "label": "大きさ",
            "options": [
              {
                "value": "col1",
                "label": "約100%(1カラム)"
              },
              {
                "value": "col2",
                "label": "約50%(2カラム)"
              },
              {
                "value": "col3",
                "label": "約33%(3カラム)"
              }
            ],
            "default": "col1"
          },
          {
            "type": "checkbox",
            "id": "margin-bottom",
            "label": "下マージンを狭く",
            "default": false,
            "info": "チェックを入れると下マージンが狭くなります。まとまりを作るときに見やすくするために使います。"
          },
          {
            "type": "header",
            "content": "最大10のオプションを含めます",
            "info":  "未入力のテキストのオプションは表示されません。"
          },
          {
            "type": "text",
            "id": "label-zero",
            "default": "初期値",
            "label": "オプション０"
          },
          {
            "type": "text",
            "id": "label-one",
            "default": "オプション1",
            "label": "オプション1"
          },
          {
            "type": "text",
            "id": "label-two",
            "default": "オプション２",
            "label": "オプション２"
          },
          {
            "type": "text",
            "id": "label-three",
            "default": "オプション３",
            "label": "オプション３"
          },
          {
            "type": "text",
            "id": "label-four",
            "default": "オプション４",
            "label": "オプション４"
          },
          {
            "type": "text",
            "id": "label-five",
            "default": "オプション５",
            "label": "オプション５"
          },
          {
            "type": "text",
            "id": "label-six",
            "default": "オプション６",
            "label": "オプション６"
          },
          {
            "type": "text",
            "id": "label-seven",
            "default": "オプション７",
            "label": "オプション７"
          },
          {
            "type": "text",
            "id": "label-eight",
            "default": "オプション８",
            "label": "オプション８"
          },
          {
            "type": "text",
            "id": "label-nine",
            "default": "オプション９",
            "label": "オプション９"
          },
          {
            "type": "text",
            "id": "label-ten",
            "default": "オプション１０",
            "label": "オプション１０"
          }
        ]
      },
      {
        "type": "select_twenty",
        "name": "セレクト ドロップダウン（20項目）",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "選択肢一つを選択してください",
            "info": "例：配達場所を選択します"
          },
          {
            "type": "checkbox",
            "id": "check",
            "label": "必須にする",
            "default": false,
            "info": "チェックを入れると必須項目にできます。"
          },
          {
            "type": "checkbox",
            "id": "label",
            "label": "項目名の表示",
            "default": true,
            "info": "チェックを入れると項目名を表示します。"
          },
          {
            "type": "checkbox",
            "id": "newline_pc",
            "label": "要素後に改行(モバイルサイト)",
            "default": false,
            "info": "チェックを入れると要素後に改行します。(モバイルサイト)"
          },
          {
            "type": "checkbox",
            "id": "newline_mobile",
            "label": "要素後に改行(PCサイト)",
            "default": false,
            "info": "チェックを入れると要素後に改行します。(PCサイト)"
          },
          {
            "type": "radio",
            "id": "width_setting",
            "label": "大きさ",
            "options": [
              {
                "value": "col1",
                "label": "約100%(1カラム)"
              },
              {
                "value": "col2",
                "label": "約50%(2カラム)"
              },
              {
                "value": "col3",
                "label": "約33%(3カラム)"
              }
            ],
            "default": "col1"
          },
          {
            "type": "checkbox",
            "id": "margin-bottom",
            "label": "下マージンを狭く",
            "default": false,
            "info": "チェックを入れると下マージンが狭くなります。まとまりを作るときに見やすくするために使います。"
          },
          {
            "type": "header",
            "content": "最大20のオプションを含めます",
            "info":  "未入力のテキストのオプションは表示されません。"
          },
          {
            "type": "text",
            "id": "label-zero",
            "default": "初期値",
            "label": "オプション０"
          },
          {
            "type": "text",
            "id": "label-one",
            "default": "オプション1",
            "label": "オプション1"
          },
          {
            "type": "text",
            "id": "label-two",
            "default": "オプション２",
            "label": "オプション２"
          },
          {
            "type": "text",
            "id": "label-three",
            "default": "オプション３",
            "label": "オプション３"
          },
          {
            "type": "text",
            "id": "label-four",
            "default": "オプション４",
            "label": "オプション４"
          },
          {
            "type": "text",
            "id": "label-five",
            "default": "オプション５",
            "label": "オプション５"
          },
          {
            "type": "text",
            "id": "label-six",
            "default": "オプション６",
            "label": "オプション６"
          },
          {
            "type": "text",
            "id": "label-seven",
            "default": "オプション７",
            "label": "オプション７"
          },
          {
            "type": "text",
            "id": "label-eight",
            "default": "オプション８",
            "label": "オプション８"
          },
          {
            "type": "text",
            "id": "label-nine",
            "default": "オプション９",
            "label": "オプション９"
          },
          {
            "type": "text",
            "id": "label-ten",
            "default": "オプション１０",
            "label": "オプション１０"
          },
          {
            "type": "text",
            "id": "label-eleven",
            "default": "オプション１１",
            "label": "オプション１１"
          },
          {
            "type": "text",
            "id": "label-twelve",
            "default": "オプション１２",
            "label": "オプション１２"
          },
          {
            "type": "text",
            "id": "label-thirteen",
            "default": "オプション１３",
            "label": "オプション１３"
          },
          {
            "type": "text",
            "id": "label-fourteen",
            "default": "オプション１４",
            "label": "オプション１４"
          },
          {
            "type": "text",
            "id": "label-fifteen",
            "default": "オプション１５",
            "label": "オプション１５"
          },
          {
            "type": "text",
            "id": "label-sixteen",
            "default": "オプション１６",
            "label": "オプション１６"
          },
          {
            "type": "text",
            "id": "label-seventeen",
            "default": "オプション１７",
            "label": "オプション１７"
          },
          {
            "type": "text",
            "id": "label-eighteen",
            "default": "オプション１８",
            "label": "オプション１８"
          },
          {
            "type": "text",
            "id": "label-nineteen",
            "default": "オプション１９",
            "label": "オプション１９"
          },
          {
            "type": "text",
            "id": "label-twenty",
            "default": "オプション２０",
            "label": "オプション２０"
          }
        ]
      },
      {
        "type": "select_fifty",
        "name": "セレクト ドロップダウン（50項目）",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "選択肢一つを選択してください",
            "info": "例：配達場所を選択します"
          },
          {
            "type": "checkbox",
            "id": "check",
            "label": "必須にする",
            "default": false,
            "info": "チェックを入れると必須項目にできます。"
          },
          {
            "type": "checkbox",
            "id": "label",
            "label": "項目名の表示",
            "default": true,
            "info": "チェックを入れると項目名を表示します。"
          },
          {
            "type": "checkbox",
            "id": "newline_pc",
            "label": "要素後に改行(モバイルサイト)",
            "default": false,
            "info": "チェックを入れると要素後に改行します。(モバイルサイト)"
          },
          {
            "type": "checkbox",
            "id": "newline_mobile",
            "label": "要素後に改行(PCサイト)",
            "default": false,
            "info": "チェックを入れると要素後に改行します。(PCサイト)"
          },
          {
            "type": "radio",
            "id": "width_setting",
            "label": "大きさ",
            "options": [
              {
                "value": "col1",
                "label": "約100%(1カラム)"
              },
              {
                "value": "col2",
                "label": "約50%(2カラム)"
              },
              {
                "value": "col3",
                "label": "約33%(3カラム)"
              }
            ],
            "default": "col1"
          },
          {
            "type": "checkbox",
            "id": "margin-bottom",
            "label": "下マージンを狭く",
            "default": false,
            "info": "チェックを入れると下マージンが狭くなります。まとまりを作るときに見やすくするために使います。"
          },
          {
            "type": "header",
            "content": "最大50のオプションを含めます",
            "info":  "未入力のテキストのオプションは表示されません。"
          },
          {
            "type": "text",
            "id": "label-zero",
            "default": "初期値",
            "label": "オプション０"
          },
          {
            "type": "text",
            "id": "label-one",
            "default": "オプション1",
            "label": "オプション1"
          },
          {
            "type": "text",
            "id": "label-two",
            "default": "オプション２",
            "label": "オプション２"
          },
          {
            "type": "text",
            "id": "label-three",
            "default": "オプション３",
            "label": "オプション３"
          },
          {
            "type": "text",
            "id": "label-four",
            "default": "オプション４",
            "label": "オプション４"
          },
          {
            "type": "text",
            "id": "label-five",
            "default": "オプション５",
            "label": "オプション５"
          },
          {
            "type": "text",
            "id": "label-six",
            "default": "オプション６",
            "label": "オプション６"
          },
          {
            "type": "text",
            "id": "label-seven",
            "default": "オプション７",
            "label": "オプション７"
          },
          {
            "type": "text",
            "id": "label-eight",
            "default": "オプション８",
            "label": "オプション８"
          },
          {
            "type": "text",
            "id": "label-nine",
            "default": "オプション９",
            "label": "オプション９"
          },
          {
            "type": "text",
            "id": "label-ten",
            "default": "オプション１０",
            "label": "オプション１０"
          },
          {
            "type": "text",
            "id": "label-eleven",
            "default": "オプション１１",
            "label": "オプション１１"
          },
          {
            "type": "text",
            "id": "label-twelve",
            "default": "オプション１２",
            "label": "オプション１２"
          },
          {
            "type": "text",
            "id": "label-thirteen",
            "default": "オプション１３",
            "label": "オプション１３"
          },
          {
            "type": "text",
            "id": "label-fourteen",
            "default": "オプション１４",
            "label": "オプション１４"
          },
          {
            "type": "text",
            "id": "label-fifteen",
            "default": "オプション１５",
            "label": "オプション１５"
          },
          {
            "type": "text",
            "id": "label-sixteen",
            "default": "オプション１６",
            "label": "オプション１６"
          },
          {
            "type": "text",
            "id": "label-seventeen",
            "default": "オプション１７",
            "label": "オプション１７"
          },
          {
            "type": "text",
            "id": "label-eighteen",
            "default": "オプション１８",
            "label": "オプション１８"
          },
          {
            "type": "text",
            "id": "label-nineteen",
            "default": "オプション１９",
            "label": "オプション１９"
          },
          {
            "type": "text",
            "id": "label-twenty",
            "default": "オプション２０",
            "label": "オプション２０"
          },
          {
            "type": "text",
            "id": "label-twenty-one",
            "default": "オプション２１",
            "label": "オプション２１"
          },
          {
            "type": "text",
            "id": "label-twenty-two",
            "default": "オプション２２",
            "label": "オプション２２"
          },
          {
            "type": "text",
            "id": "label-twenty-three",
            "default": "オプション２３",
            "label": "オプション２３"
          },
          {
            "type": "text",
            "id": "label-twenty-four",
            "default": "オプション２４",
            "label": "オプション２４"
          },
          {
            "type": "text",
            "id": "label-twenty-five",
            "default": "オプション２５",
            "label": "オプション２５"
          },
          {
            "type": "text",
            "id": "label-twenty-six",
            "default": "オプション２６",
            "label": "オプション２６"
          },
          {
            "type": "text",
            "id": "label-twenty-seven",
            "default": "オプション２７",
            "label": "オプション２７"
          },
          {
            "type": "text",
            "id": "label-twenty-eight",
            "default": "オプション２８",
            "label": "オプション２８"
          },
          {
            "type": "text",
            "id": "label-twenty-nine",
            "default": "オプション２９",
            "label": "オプション２９"
          },
          {
            "type": "text",
            "id": "label-thirty",
            "default": "オプション３０",
            "label": "オプション３０"
          },
          {
            "type": "text",
            "id": "label-thirty-one",
            "default": "オプション３１",
            "label": "オプション３１"
          },
          {
            "type": "text",
            "id": "label-thirty-two",
            "default": "オプション３２",
            "label": "オプション３２"
          },
          {
            "type": "text",
            "id": "label-thirty-three",
            "default": "オプション３３",
            "label": "オプション３３"
          },
          {
            "type": "text",
            "id": "label-thirty-four",
            "default": "オプション３４",
            "label": "オプション３４"
          },
          {
            "type": "text",
            "id": "label-thirty-five",
            "default": "オプション３５",
            "label": "オプション３５"
          },
          {
            "type": "text",
            "id": "label-thirty-six",
            "default": "オプション３６",
            "label": "オプション３６"
          },
          {
            "type": "text",
            "id": "label-thirty-seven",
            "default": "オプション３７",
            "label": "オプション３７"
          },
          {
            "type": "text",
            "id": "label-thirty-eight",
            "default": "オプション３８",
            "label": "オプション３８"
          },
          {
            "type": "text",
            "id": "label-thirty-nine",
            "default": "オプション３９",
            "label": "オプション３９"
          },
          {
            "type": "text",
            "id": "label-forty",
            "default": "オプション４０",
            "label": "オプション４０"
          },
          {
            "type": "text",
            "id": "label-forty-one",
            "default": "オプション４１",
            "label": "オプション４１"
          },
          {
            "type": "text",
            "id": "label-forty-two",
            "default": "オプション４２",
            "label": "オプション４２"
          },
          {
            "type": "text",
            "id": "label-forty-three",
            "default": "オプション４３",
            "label": "オプション４３"
          },
          {
            "type": "text",
            "id": "label-forty-four",
            "default": "オプション４４",
            "label": "オプション４４"
          },
          {
            "type": "text",
            "id": "label-forty-five",
            "default": "オプション４５",
            "label": "オプション４５"
          },
          {
            "type": "text",
            "id": "label-forty-six",
            "default": "オプション４６",
            "label": "オプション４６"
          },
          {
            "type": "text",
            "id": "label-forty-seven",
            "default": "オプション４７",
            "label": "オプション４７"
          },
          {
            "type": "text",
            "id": "label-forty-eight",
            "default": "オプション４８",
            "label": "オプション４８"
          },
          {
            "type": "text",
            "id": "label-forty-nine",
            "default": "オプション４９",
            "label": "オプション４９"
          },
          {
            "type": "text",
            "id": "label-fifty",
            "default": "オプション５０",
            "label": "オプション５０"
          }
        ]
      },
      {
        "type": "radio",
        "name": "ラジオボタン",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "タイトル",
            "default": "オプションを選択します"
          },
          {
            "type": "checkbox",
            "id": "check",
            "label": "必須にする",
            "default": false,
            "info": "チェックを入れると必須項目にできます。"
          },
          {
            "type": "header",
            "content": "最大6つのオプションを含めます",
            "info":  "除外するにはオプションテキストを未入力にします"
          },
          {
            "type": "text",
            "id": "label-one",
            "default": "オプション１",
            "label": "オプション１"
          },
          {
            "type": "text",
            "id": "label-two",
            "default": "オプション２",
            "label": "オプション２"
          },
          {
            "type": "text",
            "id": "label-three",
            "label": "オプション3"
          },
          {
            "type": "text",
            "id": "label-four",
            "label": "オプション4"
          },
          {
            "type": "text",
            "id": "label-five",
            "label": "オプション5"
          },
          {
            "type": "text",
            "id": "label-six",
            "label": "オプション6"
          }
        ]
      }
    ],
  "presets": [
    {
      "name": "t:sections.contact-form.presets.name"
    }
  ]
}
{% endschema %}
