<!--link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'"-->
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{% comment %}cart_type == "drawer"であれば(今回は"notification"で作成する)
{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
  {{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{% endcomment %}
<!--noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript-->
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

{% comment %}
<style>
  header-drawer {
    justify-self: start;
    margin-left: -1.2rem;
  }
  {%- if section.settings.sticky_header_type == 'reduce-logo-size' -%}
    .scrolled-past-header .header__heading-logo-wrapper {
      width: 75%;
    }
  {%- endif -%}

  {%- if section.settings.menu_type_desktop != "drawer" -%}
    @media screen and (min-width: 990px) {
      header-drawer {
        display: none;
      }
    }
  {%- endif -%}

  .menu-drawer-container {
    display: flex;
  }

  .list-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .list-menu--inline {
    display: inline-flex;
    flex-wrap: wrap;
  }

  summary.list-menu__item {
    padding-right: 2.7rem;
  }

  .list-menu__item {
    display: flex;
    align-items: center;
    line-height: calc(1 + 0.3 / var(--font-body-scale));
  }

  .list-menu__item--link {
    text-decoration: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    line-height: calc(1 + 0.8 / var(--font-body-scale));
  }

  @media screen and (min-width: 750px) {
    .list-menu__item--link {
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;
    }
  }
</style>
{%- style -%}
  .header {
    padding: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px 3rem {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px 3rem;
  }

  .section-header {
    position: sticky; /* This is for fixing a Safari z-index issue. PR #2147 */
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-header {
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }

  @media screen and (min-width: 990px) {
    .header {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{% endcomment %}
<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{% if template == 'index' %} 
<header id="menu_index" class="absolute">
{% else %}
<header id="menu" class="absolute">
{% endif %}

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}
<div id="logo_box">
  <a href="{{ routes.root_url }}"><div id="menu_logo"><img src="{{ '_img_logo_sub.svg' | asset_url }}"></div></a>
</div>
  <menu>
    <ul>
      <li class="foJ_Mid"><a href="{{ routes.root_url }}">TOP</a></li>
      <li class="foJ_Mid"><a href="#">「衝撃一品」とは？</a></li>
      <li class="foJ_Mid"><a href="/pages/faq/">よくあるご質問</a></li>
      <li class="foJ_Mid"><a href="/pages/shopping_guide/">お買い物ガイド</a></li>
      <li class="foJ_Mid"><a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">マイページ</a></li>
      <li>
        <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        {%- liquid
          if cart == empty
            render 'icon-cart-empty'
          else
            render 'icon-cart'
          endif
        -%}

        {% comment %}
        <!--↑ヘッダのカートをみるボタン/snippets/icon-cart.liquidとicon-cart-empty.liquidを修正する-->
        {% endcomment %}
        
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            {%- if cart.item_count < 100 -%}
              <span aria-hidden="true">{{ cart.item_count }}</span>
            {%- endif -%}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
      </li>
    </ul>
  </menu>
  {% if template == 'product' %} 
  <div id="draw_product_menu_box">
    <div id="draw_product_menu">
      <div class="draw_product_content_box">
        <div class="draw_product_content">
          <div class="img" style="background-image:url('{{ product.images[5] | img_url:"original" }}');"></div>
            
<!--購入-->

        <product-info
          id="ProductInfo-{{ section.id }}"
          data-section="{{ section.id }}"
          data-url="{{ product.url }}"
          class="product__info-container{% if section.settings.enable_sticky_info %} product__column-sticky{% endif %}"
        >
        {%- assign product_form_id = 'product-form-' | append: section.id -%}
        <div class="item_name">
          <h1 class="foJ_Bld">
            {{ product.title }}
            <span>{{ product.metafields.custom.storename }}</span>
          </h1>
        </div>
        <div class="quantities">
          {% for variant in product.variants %}
            <span class="quantity_str foJ_Mid">{{ variant.option1 }}</span>
            <span class="price_str foE">{{ variant.price | money }}</span>
            <span class="tax_str foJ_Mid">(税別)</span>
          {% endfor %}
        </div>
        <div class="count foJ_Bld">
          <!-- 数量セレクタ -->
          <div
            id="Quantity-Form-{{ section.id }}"
            class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}"
            {{ block.shopify_attributes }}
          >
            {% comment %} TODO: enable theme-check once `item_count_for_variant` is accepted as valid filter {% endcomment %}
            {% # theme-check-disable %}
            {%- assign cart_qty = cart | item_count_for_variant: product.selected_or_first_available_variant.id -%}
            {% # theme-check-enable %}

            <label class="quantity__label form__label" for="Quantity-{{ section.id }}">
              {{ 'products.product.quantity.label' | t }}
            </label>
            <div class="price-per-item__container" style="display:inline-block;">
              <span class="quantity__rules-cart">
                <span class="loading-overlay hidden">
                  <span class="loading-overlay__spinner">
                    <svg
                      aria-hidden="true"
                      focusable="false"
                      class="spinner"
                      viewBox="0 0 66 66"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </span>
                </span>
                <quantity-input class="quantity" data-url="{{ product.url }}" data-section="{{ section.id }}">
                  <button class="quantity__button no-js-hidden" name="minus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                    </span>
                    {% render 'icon-minus' %}
                  </button>
                  <input
                    class="quantity__input"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    data-cart-quantity="{{ cart_qty }}"
                    data-min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    min="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    {% if product.selected_or_first_available_variant.quantity_rule.max != null %}
                      data-max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                      max="{{ product.selected_or_first_available_variant.quantity_rule.max }}"
                    {% endif %}
                    step="{{ product.selected_or_first_available_variant.quantity_rule.increment }}"
                    value="{{ product.selected_or_first_available_variant.quantity_rule.min }}"
                    form="{{ product_form_id }}"
                  >
                  <button class="quantity__button no-js-hidden" name="plus" type="button">
                    <span class="visually-hidden">
                      {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                    </span>
                    {% render 'icon-plus' %}
                  </button>
                </quantity-input>
              </span>
              {%- liquid
                assign volume_pricing_array = product.selected_or_first_available_variant.quantity_price_breaks | sort: 'quantity' | reverse
                assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.min
                if cart_qty > 0
                  assign current_qty_for_volume_pricing = cart_qty | plus: product.selected_or_first_available_variant.quantity_rule.increment
                endif
              -%}
              {%- if product.quantity_price_breaks_configured? -%}
                <price-per-item
                  class="no-js-hidden"
                  id="Price-Per-Item-{{ section.id }}"
                  data-section-id="{{ section.id }}"
                  data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                >
                  {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                    {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
                    <div class="price-per-item">
                      {%- if variant_price_compare -%}
                        <dl class="price-per-item--current">
                          <dt class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </dt>
                          <dd>
                            <s class="variant-item__old-price">
                              {{ variant_price_compare | money_with_currency }}
                            </s>
                          </dd>
                        </dl>
                      {%- endif -%}
                      {%- if current_qty_for_volume_pricing < volume_pricing_array.last.minimum_quantity -%}
                        {%- assign variant_price = product.selected_or_first_available_variant.price
                          | money_with_currency
                        -%}
                        <span class="price-per-item--current">
                          {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                        </span>
                      {%- else -%}
                        {%- for price_break in volume_pricing_array -%}
                          {%- if current_qty_for_volume_pricing >= price_break.minimum_quantity -%}
                            {%- assign price_break_price = price_break.price | money_with_currency -%}
                            <span class="price-per-item--current">
                              {{- 'products.product.volume_pricing.price_at_each' | t: price: price_break_price -}}
                            </span>
                            {%- break -%}
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endif -%}
                    </div>
                  {%- else -%}
                    {%- assign variant_price = product.selected_or_first_available_variant.price
                      | money_with_currency
                    -%}
                    {%- assign variant_price_compare = product.selected_or_first_available_variant.compare_at_price -%}
                    <div class="price-per-item">
                      {%- if variant_price_compare -%}
                        <dl class="price-per-item--current">
                          <dt class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </dt>
                          <dd>
                            <s class="variant-item__old-price">
                              {{ variant_price_compare | money_with_currency }}
                            </s>
                          </dd>
                          <dt class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </dt>
                          <dd>
                            <span class="price-per-item--current">
                              {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                            </span>
                          </dd>
                        </dl>
                      {%- else -%}
                        <span class="price-per-item--current">
                          {{- 'products.product.volume_pricing.price_at_each' | t: price: variant_price -}}
                        </span>
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                </price-per-item>
              {%- endif -%}
            </div>
            <div class="quantity__rules caption no-js-hidden" id="Quantity-Rules-{{ section.id }}">
              {%- if product.selected_or_first_available_variant.quantity_rule.increment > 1 -%}
                <span class="divider">
                  {{-
                    'products.product.quantity.multiples_of'
                    | t: quantity: product.selected_or_first_available_variant.quantity_rule.increment
                  -}}
                </span>
              {%- endif -%}
              {%- if product.selected_or_first_available_variant.quantity_rule.min > 1 -%}
                <span class="divider">
                  {{-
                    'products.product.quantity.minimum_of'
                    | t: quantity: product.selected_or_first_available_variant.quantity_rule.min
                  -}}
                </span>
              {%- endif -%}
              {%- if product.selected_or_first_available_variant.quantity_rule.max != null -%}
                <span class="divider">
                  {{-
                    'products.product.quantity.maximum_of'
                    | t: quantity: product.selected_or_first_available_variant.quantity_rule.max
                  -}}
                </span>
              {%- endif -%}
            </div>
            {%- if product.quantity_price_breaks_configured? -%}
              <volume-pricing class="parent-display no-js-hidden" id="Volume-{{ section.id }}">
                {%- if product.selected_or_first_available_variant.quantity_price_breaks.size > 0 -%}
                  <span class="caption-large">{{ 'products.product.volume_pricing.title' | t }}</span>
                  <ul class="list-unstyled no-js-hidden">
                    <li>
                      <span>{{ product.selected_or_first_available_variant.quantity_rule.min }}+</span>
                      {%- assign price = product.selected_or_first_available_variant.price | money_with_currency -%}
                      <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: variant_price }}">
                        {{- 'sections.quick_order_list.each' | t: money: price -}}
                      </span>
                    </li>
                    {%- for price_break in product.selected_or_first_available_variant.quantity_price_breaks -%}
                      {%- assign price_break_price = price_break.price | money_with_currency -%}
                      <li class="{%- if forloop.index >= 3 -%}show-more-item hidden{%- endif -%}">
                        <span>
                          {{- price_break.minimum_quantity -}}
                          <span aria-hidden="true">+</span></span
                        >
                        <span data-text="{{ 'products.product.volume_pricing.price_at_each' | t: price: price_break_price }}">
                          {{- 'sections.quick_order_list.each' | t: money: price_break_price -}}
                        </span>
                      </li>
                    {%- endfor -%}
                  </ul>
                  {%- if product.selected_or_first_available_variant.quantity_price_breaks.size >= 3 -%}
                    <show-more-button>
                      <button
                        class="button-show-more link underlined-link"
                        id="Show-More-{{ section.id }}"
                        type="button"
                      >
                        <span class="label-show-more label-text"
                          ><span aria-hidden="true">+ </span>{{ 'products.facets.show_more' | t }}
                        </span>
                      </button>
                    </show-more-button>
                  {%- endif -%}
                {%- endif -%}
              </volume-pricing>
            {%- endif -%}
        </div>
          <!-- 数量セレクタここまで -->
        </div>
        <!-- カートに入れるボタンここから -->
        {%- render 'buy-buttons',
          block: block,
          product: product,
          product_form_id: product_form_id,
          section_id: section.id,
          show_pickup_availability: true
        -%}
        <!-- カートに入れるボタンここまで -->
          
        </product-info>

<!--購入ここまで-->

          
        </div>
      </div>
      <div class="draw_product_btn foJ_Mid">
        <span class="t_link no_deco down"><div class="icon draw_down"></div>商品をみる</span>
        <span class="t_link no_deco up"><div class="icon draw_up"></div>閉じる</span></div>
    </div>
  </div>
  {% endif %}
</header>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>


{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}
