<div id="main_visual" class="content">
    <!--メインビジュアル部分-->
    <div id="mv">
        <div id="mv_box">
          <img src="{{ '_img_food_01.png' | asset_url }}" alt="" class="animemv" id="food_01">
          <img src="{{ '_img_food_02.png' | asset_url }}" alt="" class="animemv" id="food_02">
          <img src="{{ '_img_food_03.png' | asset_url }}" alt="" class="animemv" id="food_03">
          <img src="{{ '_img_food_04.png' | asset_url }}" alt="" class="animemv" id="food_04">
          <img src="{{ '_img_food_05.png' | asset_url }}" alt="" class="animemv" id="food_05">
          <img src="{{ '_img_food_06.png' | asset_url }}" alt="" class="animemv" id="food_06">
          <img src="{{ '_img_food_07.png' | asset_url }}" alt="" class="animemv" id="food_07">
          <div id="mv_copy"><img src="{{ '_img_mv_copy.svg' | asset_url }}" alt=""></div>
          <div id="mv_logo"><img src="{{ '_img_mv_logo.svg' | asset_url }}" alt=""></div>
          <div id="mv_city"><img src="{{ '_img_mv_city.svg' | asset_url }}" alt=""></div>
        </div>
        <div id="mv_town"></div>
    </div>
    <!--//メインビジュアル部分-->
</div>

{% schema %}
  {
    "name": "トップヘッダー画像",
    "settings": [] ,
    "presets": [
      {
        "name": "トップヘッダー画像"
      }
    ]
  }
{% endschema %}