{{ 'customer.css' | asset_url | stylesheet_tag }}
{% comment %}
{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
{% endcomment %}
<div class="content innerpage_content">
    <div class="innerpage_wrapper foJ_Thin btm">
      <div class="customer account section-{{ section.id }}-padding">
        <div>
          <h1 class="page_title_head foJ_Bld customer__title">{{ 'customer.account.title' | t }}</h1>
          <!--a href="{{ routes.account_logout_url }}">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
            </svg>
            {{ 'customer.log_out' | t }}
          </a-->
        </div>
        <!--アカウント詳細-->
          <div id="addresses_details">
            <div class="account_name">
              <h2 class="foJ_Mid">{{ customer.default_address.last_name }}&nbsp;{{ customer.default_address.first_name }}様</h2><br class="d_t">
              <!--{% comment %}
                {{ 'customer.account.details' | t }}
              {% endcomment %}-->
              <a class="t_link" href="{{ routes.account_logout_url }}">
                <!--svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
                </svg-->
                <div class="icon close"></div>{{ 'customer.log_out' | t }}
              </a>
            </div>

            

            <!--{% comment %}
              {{ customer.default_address | format_address }}
            {% endcomment %}-->

            <div class="account_address">
              <div class="account_table">
                <div class="account_table_head">お名前</div>
                <div class="account_table_content">{{ customer.default_address.last_name }}&nbsp;{{ customer.default_address.first_name }}</div>
                {% if customer.default_address.company != blank %}
                <div class="account_table_head">会社・法人名</div>
                <div class="account_table_content">{{ customer.default_address.company }}</div>
                {% endif %}
                <div class="account_table_head">ご住所</div>
                <div class="account_table_content">〒{{ customer.default_address.zip }}<br>{{ customer.default_address.province }} {{ customer.default_address.city }} {{ customer.default_address.street }}</div>
                <div class="account_table_head">TEL</div>
                <div class="account_table_content">{{ customer.default_address.phone }}</div>
                <div class="account_table_head">E-MAIL</div>
                <div class="account_table_content">{{ customer.email }}</div>
              </div>
            <a class="t_link" href="{{ routes.account_addresses_url }}">
              <div class="icon edit"></div>{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
            </a>
            </div>
          </div>
<!--//アカウント詳細-->

        <div id="order_list" class="foJ_Thin">
          <div id="order_list_wrapper">
<!--注文履歴-->
            <h3 class="foJ_Mid">{{ 'customer.orders.title' | t }}</h3>
            {% paginate customer.orders by 10 %}
              {%- if customer.orders.size > 0 -%}
                <div class="order-history">
                  <!--caption class="visually-hidden">
                    {{ 'customer.orders.title' | t }}
                  </caption-->
                  <div class="order-history_th_group">
                      <div class="oh_th_number" id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</div>
                      <div class="oh_th_date" id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</div>
                      <div class="oh_th_payment" id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</div>
                      <div class="oh_th_fulfillment" id="ColumnFulfillment" scope="col" role="columnheader">
                        {{ 'customer.orders.fulfillment_status' | t }}
                      </div>
                      <div class="oh_th_total" id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</div>
                  </div>
                    {%- for order in customer.orders -%}
                    <a
                            href="{{ order.customer_url }}"
                            aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                          >
                      <div class="order-history_td_group clearfix">
                        <div
                          class="oh_td_number"
                          id="RowOrder"
                          role="cell"
                          headers="ColumnOrder"
                          data-label="{{ 'customer.orders.order_number' | t }}"
                        >
                          
                            {{ order.name }}
                        </div>
                        <div class="oh_td_date" headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                          {{ order.created_at | time_tag: format: 'date' }}
                        </div>
                        <div
                          class="oh_td_payment"
                          headers="RowOrder ColumnPayment"
                          role="cell"
                          data-label="{{ 'customer.orders.payment_status' | t }}"
                        >
                          {{ order.financial_status_label }}
                        </div>
                        <div
                          class="oh_td_fulfillment"
                          headers="RowOrder ColumnFulfillment"
                          role="cell"
                          data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                        >
                          {{ order.fulfillment_status_label }}
                        </div>
                        <div class="oh_td_total" headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                          &yen;{{ order.total_net_amount | money }}
                        </div>
                      </div>
                    
                          </a>
                    {%- endfor -%}

                </div>
              {%- else -%}
                <p>{{ 'customer.orders.none' | t }}</p><!--カートにないとき-->
              {%- endif -%}

              {%- if paginate.pages > 1 -%}
              {%- render 'pagination', paginate: paginate -%}
              {%- endif -%}
            {% endpaginate %}
<!--//注文履歴-->
          </div>

        </div>
      </div>

  </div>
</div>
<script>
window.addEventListener('DOMContentLoaded', function(){
  if
});
</script>
{% schema %}
{
  "name": "t:sections.main-account.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
