{{ 'customer.css' | asset_url | stylesheet_tag }}
{% comment %}
  {%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
  {%- endstyle -%}
{% endcomment %}

<div class="content innerpage_content">
  <div class="innerpage_wrapper foJ_Thin btm">
    <div class="customer order section-{{ section.id }}-padding">
    <!--{% comment %}
      <svg style="display:none">
        <symbol id="icon-discount" viewBox="0 0 12 12">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M7 0h3a2 2 0 012 2v3a1 1 0 01-.3.7l-6 6a1 1 0 01-1.4 0l-4-4a1 1 0 010-1.4l6-6A1 1 0 017 0zm2 2a1 1 0 102 0 1 1 0 00-2 0z" fill="currentColor">
        </symbol>
      </svg>
    {% endcomment %}-->
      <div>
        <h1 class="page_title_head foJ_Bld customer__title">{{ 'customer.account.order_detail' | t }}</h1>
        <a class="t_link no_deco" href="{{ routes.account_url }}">
          <div class="icon back"></div>
          {{ 'customer.account.return' | t }}
        </a>
      </div>

      <div id="order_detail">
        <div id="order_detail_wrapper">
          <h2 class="foJ_Mid">{{ 'customer.order.title' | t: name: order.name }}</h2>
          {%- assign order_date = order.created_at | time_tag: format: 'date_at_time' -%}
          <p>{{ 'customer.order.date_html' | t: date: order_date }}</p>
          {%- if order.cancelled -%}
            {%- assign cancelled_at = order.cancelled_at | time_tag: format: 'date_at_time' -%}
            <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
            <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
          {%- endif -%}

          <div class="order_details">
            <div class="order_details_th_group" role="rowgroup">
                <div class="od_th_product th" id="ColumnProduct" scope="col" role="columnheader">{{ 'customer.order.product' | t }}</div>
                <div class="od_th_sku th hidden" id="ColumnSku" scope="col" role="columnheader">{{ 'customer.order.sku' | t }}</div>
                <div class="od_th_price th" id="ColumnPrice" scope="col" role="columnheader">{{ 'customer.order.price' | t }}</div>
                <div class="od_th_quantity th" id="ColumnQuantity" scope="col" role="columnheader">{{ 'customer.order.quantity' | t }}</div>
                <div class="od_th_total th" id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.order.total' | t }}</div>
            </div>
            <!-- 商品数で繰り返し -->
            {%- for line_item in order.line_items -%}
            <div class="order_details_td_group">
              <!-- 商品名 -->
              <div
                class="od_td_product td"
                id="Row{{ line_item.key }}"
                headers="ColumnProduct"
                role="rowheader"
                scope="row"
                data-label="{{ 'customer.order.product' | t }}"
              >
                <div>
                  {%- if line_item.url != blank -%}
                    <a href="{{ line_item.url }}">{{ line_item.title }}</a>
                  {%- else -%}
                    <p>{{ line_item.title }}</p>
                  {%- endif -%}
                  {%- assign property_size = line_item.properties | size -%}
                  {%- unless line_item.selling_plan_allocation == null and property_size == 0 -%}
                    <div class="properties">
                      {%- unless line_item.product.has_only_default_variant -%}
                        <span>
                          {{ line_item.variant.title }}
                        </span>
                      {%- endunless -%}
                      {%- unless line_item.selling_plan_allocation == null -%}
                        <span>
                          {{ line_item.selling_plan_allocation.selling_plan.name }}
                        </span>
                      {%- endunless -%}
                      {%- if property_size != 0 -%}
                        {%- for property in line_item.properties -%}
                          {% assign property_first_char = property.first | slice: 0 %}
                          {%- if property.last != blank and property_first_char != '_' -%}
                            <span>{{ property.first }}:</span>
                            <span>
                              {%- if property.last contains '/uploads/' -%}
                                <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                              {%- else -%}
                                {{ property.last }}
                              {%- endif -%}
                            </span>
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endif -%}
                    </div>
                  {%- endunless -%}

                  {%- if line_item.line_level_discount_allocations != blank -%}
                    <ul role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                        <li>
                          <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                            <use href="#icon-discount" />
                          </svg>
                          {{- discount_allocation.discount_application.title }} (-
                          {{- discount_allocation.amount | money -}}
                          )
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}

                  {%- if line_item.fulfillment -%}
                    <div class="fulfillment">
                      {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                      <span>{{ 'customer.order.fulfilled_at_html' | t: date: created_at }}</span>

                      {%- if line_item.fulfillment.tracking_url -%}
                        <a href="{{ line_item.fulfillment.tracking_url }}">
                          {{ 'customer.order.track_shipment' | t }}
                        </a>
                      {%- endif -%}
                      <span>
                        {{ line_item.fulfillment.tracking_company }}
                        {%- if line_item.fulfillment.tracking_number -%}
                          #{{ line_item.fulfillment.tracking_number }}
                        {%- endif -%}
                      </span>
                    </div>
                  {%- endif -%}
                </div>
              </div>
              <!-- /商品名 -->
              <!-- SKU -->
              <div
                headers="Row{{ line_item.key }} ColumnSku"
                role="cell"
                data-label="{{ 'customer.order.sku' | t }}"
                class="od_td_sku td hidden"
              >
                {{ line_item.sku }}
              </div>

              <!-- /SKU -->

              <!-- 商品価格 -->
              <div
                class="od_td_price td"
                headers="Row{{ line_item.key }} ColumnPrice"
                role="cell"
                data-label="{{ 'customer.order.price' | t }}"
              >
                {%- if line_item.original_price != line_item.final_price or line_item.unit_price_measurement -%}
                  <dl>
                    {%- if line_item.original_price != line_item.final_price -%}
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                      </dt>
                      <dd class="regular-price">
                        <s>&yen;{{ line_item.original_price | money }}</s>
                      </dd>
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                      </dt>
                      <dd>
                        <span>&yen;{{ line_item.final_price | money }}</span>
                      </dd>
                    {%- else -%}
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                      </dt>
                      <dd>&yen;{{ line_item.original_price | money }}</dd>
                    {%- endif -%}
                    {%- if line_item.unit_price_measurement -%}
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                      </dt>
                      <dd class="unit-price">
                        <span>
                          {%- capture unit_price_separator -%}
                        <span aria-hidden="true">/</span
                        ><span class="visually-hidden">{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                      {%- endcapture -%}
                          {%- capture unit_price_base_unit -%}
                        {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                          {{- line_item.unit_price_measurement.reference_value -}}
                        {%- endif -%}
                        {{ line_item.unit_price_measurement.reference_unit }}
                      {%- endcapture -%}
                          <span data-unit-price>&yen;{{ line_item.unit_price | money }}</span>
                          {{- unit_price_separator -}}
                          {{- unit_price_base_unit -}}
                        </span>
                      </dd>
                    {%- endif -%}
                  </dl>
                {%- else -%}
                  <span>&yen;{{ line_item.final_price | money }}</span>
                {%- endif -%}
              </div>

              <!-- /商品価格 -->
              <!-- 数量 -->
              <div
                class="od_td_quantity td"
                headers="Row{{ line_item.key }} ColumnQuantity"
                role="cell"
                data-label="{{ 'customer.order.quantity' | t }}"
              >
                {{ line_item.quantity }}
              </div>

              <!-- /数量 -->
              <!-- 小計 -->
              <div
                class="od_td_total td"
                headers="Row{{ line_item.key }} ColumnTotal"
                role="cell"
                data-label="{{ 'customer.order.total' | t }}"
              >
                {%- if line_item.original_line_price != line_item.final_line_price -%}
                  <dl>
                    <dt>
                      <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                    </dt>
                    <dd class="regular-price">
                      <s>&yen;{{ line_item.original_line_price | money }}</s>
                    </dd>
                    <dt>
                      <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                    </dt>
                    <dd>
                      <span>&yen;{{ line_item.final_line_price | money }}</span>
                    </dd>
                  </dl>
                {%- else -%}
                  &yen;{{ line_item.original_line_price | money }}
                {%- endif -%}
              </div>
              <!-- /小計 -->
            </div>
          {%- endfor -%}
          <!-- /商品数で繰り返し -->
          </div>

          <div class="order_price_details">
              <!-- 小計 -->
              <div class="order_price_details_group">
                <div class="opd_th_subtotal th" id="RowSubtotal" role="rowheader">
                  {{ 'customer.order.subtotal' | t }}
                </div>
                <div class="opd_td_subtotal td" headers="RowSubtotal" role="cell" data-label="{{ 'customer.order.subtotal' | t }}">
                  &yen;{{ order.line_items_subtotal_price | money }}
                </div>
              </div>
              <!-- /小計 -->
              <!-- ディスカウント -->
              {%- if order.cart_level_discount_applications != blank -%}
                <div class="order_price_details_group">
                  {%- for discount_application in order.cart_level_discount_applications -%}
                    <div class="opd_th_discount th" id="RowDiscount" role="rowheader" scope="row">
                      {{ 'customer.order.discount' | t }}
                      <!--span class="cart-discount">
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                          <use href="#icon-discount" />
                        </svg>
                        {{- discount_application.title -}}
                      </span-->
                    </div>
                    <div class="opd_td_discount td" headers="RowDiscount" role="cell" data-label="{{ 'customer.order.discount' | t }}">
                      <div>
                        <span class="cart-discount">
                          <svg aria-hidden="true" focusable="false" viewBox="0 0 12 12">
                            <use href="#icon-discount" />
                          </svg>
                          ({{- discount_application.title -}})
                        </span>
                        <span>-&yen;{{ discount_application.total_allocated_amount | money }}</span>
                      </div>
                    </div>
                  {%- endfor -%}
                </div>
              {%- endif -%}
              <!-- /ディスカウント -->

              <!-- 配送 -->
              {%- for shipping_method in order.shipping_methods -%}
                <div class="order_price_details_group">
                  <div class="opd_th_shipping th" id="RowShipping" role="rowheader">
                    {{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})
                  </div>
                  <div class="opd_td_shipping td"
                    headers="RowShipping"
                    role="cell"
                    data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})"
                  >
                    &yen;{{ shipping_method.price | money }}
                  </div>
                </div>
              {%- endfor -%}
              <!-- /配送 -->
              <!-- 税 -->
              {%- for tax_line in order.tax_lines -%}
                <div  class="order_price_details_group">
                  <div class="opd_th_tax th" id="RowTax" role="rowheader">
                    {{ 'customer.order.tax' | t }} (
                    {% comment %}
                      {{ tax_line.title }}
                    {% endcomment %}
                    {{- tax_line.rate | times: 100 }}%)
                  </div>
                  <div class="opd_td_tax td"
                    headers="RowTax"
                    role="cell"
                    data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)"
                  >
                    &yen;{{ tax_line.price | money }}
                  </div>
                </div>
              {%- endfor -%}
              <!-- 税 -->
              <!-- 関税 -->
              {%- if order.total_duties -%}
                <div class="order_price_details_group">
                  <div class="opd_th_duties th"id="RowDuties" role="rowheader">
                    {{ 'customer.order.total_duties' | t }}
                  </div>
                  <div class="opd_td_duties td" headers="RowDuties" role="cell" data-label="{{ 'customer.order.total_duties' | t }}">
                    &yen;{{ order.total_duties | money }}
                  </div>
                </div>
              {%- endif -%}
              <!-- /関税 -->
              <!-- 返金 -->
              {%- if order.total_refunded_amount > 0 -%}
                <div class="order_price_details_group">
                  <div class="opd_th_refunded th" id="RowTotalRefund" role="rowheader">
                    {{ 'customer.order.total_refunded' | t }}
                  </div>
                  <div class="opd_td_refund td"
                    headers="RowTotalRefund"
                    role="cell"
                    colspan="2"
                    data-label="{{ 'customer.order.total_refunded' | t }}"
                  >
                    -&yen;{{ order.total_refunded_amount | money_with_currency }}
                  </div>
                </div>
              {%- endif -%}
              <!-- /返金 -->
              <!-- 合計 -->
              <div class="order_price_details_group">
                <div class="opd_th_total th" id="RowTotal" role="rowheader" class="foJ_Mid">
                  {{ 'customer.order.total' | t }}
                </div>
                <div class="opd_td_total th"
                  headers="RowTotal"
                  role="cell"
                  colspan="2"
                  data-label="{{ 'customer.order.total' | t }}"
                  class="foJ_Mid"
                >
                  &yen;{{ order.total_net_amount | money_with_currency }}
                </div>
              </div>
              <!-- /合計 -->
          </div>

        </div>
        <!-- //order_detail_wrapper -->
      </div>
      <!-- //order_detail -->

      <div id="address_box">
        <div class="billing_address_box">
          <h2>{{ 'customer.order.billing_address' | t }}</h2>
          <p>{{ 'customer.order.payment_status' | t }}:{{ order.financial_status_label }}</p>
          <p class="name">
            {{ order.billing_address.last_name }}
            {{ order.billing_address.first_name }}
          </p>
          <p class="address">
            〒{{ order.billing_address.zip -}}
            <br>
            {{ order.billing_address.province -}}
            {{- order.billing_address.city -}}
            {{- order.billing_address.address1 -}}
            {{- order.billing_address.address2 }}
          </p>
          {% comment %}
            {{ order.billing_address | format_address }}
          {% endcomment %}
        </div>
        <div class="customer_address_box">
          <h2>{{ 'customer.order.shipping_address' | t }}</h2>
          <p>{{ 'customer.order.fulfillment_status' | t }}:{{ order.fulfillment_status_label }}</p>
          <p class="name">
            {{ order.shipping_address.last_name }}
            {{ order.shipping_address.first_name }}
          </p>
          <p class="address">
            〒{{ order.shipping_address.zip -}}
            <br>
            {{ order.shipping_address.province -}}
            {{- order.shipping_address.city -}}
            {{- order.shipping_address.address1 -}}
            {{- order.shipping_address.address2 }}
          </p>
        </div>
      </div>
      <!-- //address_box -->
    </div>
  </div>
  <!-- //#innerpage_wrapper -->
</div>

{% schema %}
{
  "name": "t:sections.main-order.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
