<div class="content foJ_Thin">
  <div id="product_spec_box">
    <div id="product_info_box">
      <ul class="info_box clearfix">
        <li class="image_box clearfix">
          <div class="photo" style="background-image:url('{{ product.images[5] | img_url:"original" }}');"></div>
          <div class="descriptions">
            <h3 class="foJ_Mid">商品情報</h3>
            <a href="#" class="click_to_active active txt_a foJ_Mid" name=".to_eat,.txt_a"><div class="icon"></div>お召し上がり方</a>
            <a href="#" class="click_to_active txt_b foJ_Mid" name=".component,.txt_b"><div class="icon"></div>成分表示</a>
          </div>
        </li>
        <li class="text_field">
          <ul>
            <li class="to_eat active">
              <h4 class="foJ_Mid">お召し上がり方</h4>
              {{ product.metafields.custom.to_eat }}
            </li>
            <li class="component">
              <h4 class="foJ_Mid">成分表示</h4>
              <table>
                {% for i in (0..100) %}
                  {% if product.metafields.custom.component_title.value[i] == blank %}
                    {% break %}
                  {% else %}
                  <tr>
                    <th class="foJ_Thin">{{ product.metafields.custom.component_title.value[i] }}</th>
                    <td class="foJ_Thin">{{ product.metafields.custom.component_content.value[i] }}</td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="store_info_box">
      <ul class="info_box clearfix">
        <li class="image_box clearfix">
          <div class="photo" style="background-image:url('{{ product.images[6] | img_url:"original" }}');"></div>
          <div class="descriptions">
            <h3 class="foJ_Mid">店舗情報</h3>
            <a href="#" class="click_to_active active txt_c foJ_Mid" name=".on_time,.txt_c"><div class="icon"></div>基本情報</a>
            <a href="#" class="click_to_active txt_d foJ_Mid" name=".accessmap,.txt_d"><div class="icon"></div>アクセスマップ</a>
          </div>
        </li>
        <li class="text_field">
          <ul>
            <li class="on_time active">
              <h4 class="foJ_Mid">{{ product.metafields.custom.storename }}
              <span class="foJ_Mid">{{ product.metafields.custom.address }}</span></h4>
              <table>
                {% for i in (0..100) %}
                  {% if product.metafields.custom.store_information_title.value[i] == blank %}
                    {% break %}
                  {% else %}
                  <tr>
                    <th class="foJ_Thin">{{ product.metafields.custom.store_information_title.value[i] }}</th>
                    <td class="foJ_Thin">{{ product.metafields.custom.store_information_content.value[i] }}</td>
                  </tr>
                  {% endif %}
                {% endfor %}
              </table>
            </li>
            <li class="accessmap">
              {{ product.metafields.custom.storemap }}
            </li>
          </ul>
        </li>
      </ul>

    </div>
    <!--ul id="product_spec" class="clearfix">
      <li id="to_eat">
        <h3 class="foJ_Bld">商品情報</h3>
        <div class="img" style="background-image:url('{{ product.images[5] | img_url:"original" }}');"></div>
        <h4 class="foJ_Mid">お召し上がり方</h4>
        <span class="foJ_Thin">{{ product.metafields.custom.to_eat }}</span>
      </li>
      <li id="component">
        <h4 class="foJ_Mid">成分表示</h4>
        <table>
          {% for i in (0..100) %}
            {% if product.metafields.custom.component_title.value[i] == blank %}
              {% break %}
            {% else %}
            <tr>
              <th class="foJ_Thin">{{ product.metafields.custom.component_title.value[i] }}</th>
              <td class="foJ_Thin">{{ product.metafields.custom.component_content.value[i] }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </table>
      </li>
      <li id="store_information">
        <h3 class="foJ_Bld">店舗案内</h3>
        <div class="img" style="background-image:url('{{ product.images[6] | img_url:"original" }}');"></div>
        <h4 class="foJ_Mid">{{ product.metafields.custom.storename }}</h4>
        <span class="foJ_Thin">{{ product.metafields.custom.address }}</span>
        <table>
          {% for i in (0..100) %}
            {% if product.metafields.custom.store_information_title.value[i] == blank %}
              {% break %}
            {% else %}
            <tr>
              <th class="foJ_Thin">{{ product.metafields.custom.store_information_title.value[i] }}</th>
              <td class="foJ_Thin">{{ product.metafields.custom.store_information_content.value[i] }}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </table>
      </li>
    </ul-->
    <!--div id="product_accessmap">
      <h3 class="foJ_Bld">アクセスマップ</h3>
      {{ product.metafields.custom.storemap }}
    </div-->
  </div>
  <!-- //product_spec_box -->
</div>
{% schema %}
  {
    "name": "お召し上がり方・成分表示・店舗案内",
    "settings": [] ,
    "presets": [
      {
        "name": "お召し上がり方・成分表示・店舗案内"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}