<div class="content">
  <div id="product_introduce_col1" class="clearfix">
    <div id="chef_photo">
      <div class="chef_photobox fadein" style="background-image: url('{{ product.images[1] | img_url:"original" }}');"><!--relative-->
        <div class="chef_name"><h5 class="foJ_Mid">{{ product.metafields.custom.storename }}</h5><h4 class="foJ_Bld">{{ product.metafields.custom.owner }}さん</h4></div>
      </div>
    </div><!--余白7%-->
    <div id="product_outline_1" >
      <div class="outline_1_title fadein"><h2 class="foJ_Bld">{{ product.metafields.custom.title_1 }}</h2></div><!--absolute right0-->
      <ul id="outline_1_textbox" class="clearfix fadein">
        <li class="outline_1_text foJ_Thin">{{ product.metafields.custom.text_1 }}</li><!--block,width指定-->
        {% if product.metafields.custom.text_1_2 != blank%}
        <li class="outline_1_2_text foJ_Thin">{{ product.metafields.custom.text_1_2 }}</li><!--block,width大き目指定-->
        {% endif %}
      </ul>
    </div>
  </div>
  <div id="product_introduce_col2" class="clearfix">
    <div id="product_outline_2_1">
      <div class="chef_photo2 fadein" style="background-image: url('{{ product.images[4] | img_url:"original" }}');"></div>
      <p class="outline_2_text fadein foJ_Thin">{{ product.metafields.custom.text_2 }}</p>
    </div><!--w64%-->
    <div id="product_outline_2_2">
      <div class="image_photo fadein" style="background-image: url('{{ product.images[3] | img_url:"original" }}');"></div>
      <h2 class="foJ_Bld fadein">{{ product.metafields.custom.title_2 }}</h2>
    </div><!--w36%-->
  </div>
  <!--ul id="product_introduce_col2" class="clearfix fadein">

      <div id="outline_1_handjob" style="background-image: url('{{ product.images[3] | img_url:"original" }}');"></div>
    <li id="image_photo">
      <div class="image_photobox" style="background-image: url('{{ product.images[4] | img_url:"original" }}');"></div>
    </li>
    <li id="product_outline_2">
      <ul id="outline_2_textbox" class="clearfix">
        <li class="outline_2_title foJ_Mid"><h2>{{ product.metafields.custom.title_2 }}</h2></li>
        <li class="outline_2_text foJ_Thin">{{ product.metafields.custom.text_2 }}</li>
      </ul>
    </li>
  </ul-->
</div>

{% schema %}
  {
    "name": "商品概要・アウトライン",
    "settings": [] ,
    "presets": [
      {
        "name": "商品概要・アウトライン"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}